{% extends 'base.html.twig' %}

{% block body %}
    <h1>  
        {{ form_start(delete_form) }}
            Editar Gênero
            <button class="pull-right btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
        {{ form_end(delete_form) }}
    </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-success pull-right" type="submit" value="Cadastrar">Salvar</button>
    {{ form_end(edit_form) }}
         <a href="{{ path('genero_index') }}"><button class="btn btn-primary pull-right" style="margin-right: 5px;">Listar</button></a>
{% endblock %}
