{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ form_start(delete_form) }}
            Gênero
            <button class="pull-right btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
        {{ form_end(delete_form) }}
    </h1>
    <table class="table table-condensed table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genero.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ genero.nome }}</td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('genero_index') }}"><button class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button></a>
        <a href="{{ path('genero_edit', { 'id': genero.id }) }}"><button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button></a>
{% endblock %}
