{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produtos Cadastrados
        <a href="{{ path('produtos_new') }}"><button class="pull-right btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button></a>
    </h1>
    <table class="table table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Tipo</th>
                <th>Imagem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td><a href="{{ path('produtos_show', { 'id': produto.id }) }}">{{ produto.id }}</a></td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.tipo }}</td>
                <td>{{ produto.imagem }}</td>
                <td>
                    <a href="{{ path('produtos_show', { 'id': produto.id }) }}"><button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                    <a href="{{ path('produtos_edit', { 'id': produto.id }) }}"><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
{% endblock %}
